<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AWS Resilience - Brandon Wagner</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Running on Instance: ' + ${instanceId}" />

<table>
    <thead>
        <tr>
            <td>File Name</td>
            <td>File Size</td>
            <td>Last Modified</td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="file : ${objectList}">
            <td> <a th:href="@{https://s3.amazonaws.com/cs779/{fileName}(fileName=${file.getKey()})}" th:text="${file.getKey()}"></a></td>
            <td> <a th:href="@{https://s3.amazonaws.com/cs779/{fileName}(fileName=${file.getKey()})}" th:text="${file.getSize()}"></a></td>
            <td> <a th:href="@{https://s3.amazonaws.com/cs779/{fileName}(fileName=${file.getKey()})}" th:text="${file.getLastModified()}"></a></td>
        </tr>

    </tbody>
</table>
</body>
</html>