<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AWS Resilience - Brandon Wagner</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Running on Instance: ' + ${instanceId}" />

    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Filename:</label>
        <input type="file" name="file" id="file" />

        <input type="submit" name="submit" value="Upload" />
    </form>
</body>
</html>